* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.selectbox {
  padding: 1rem;
  margin: 2rem;
  font-size: larger;
  color: black;
}

.headings {
  display: inline-block;
  padding: 1rem;
  margin: 1rem;
}
